.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .calculate-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .calculate-button:hover {
    background-color: #0056b3;
  }
  
  .download-link {
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
  }
  
  .download-link:hover {
    text-decoration: underline;
  }  

  /* Media query for screens with a maximum width of 600px (adjust as needed) */
@media (max-width: 600px) {
    .upload-container {
      max-width: 100%; 
    }
  
    input[type="file"] {
      width: 100%; 
      margin-bottom: 10px; 
    }
  
    button {
      width: 100%; 
      margin-top: 10px; 
      margin-bottom: 20px; 
    }
  }